{% extends "layout.html" %}
{% block body %}
  
  <div class="contents">
    这里是为目录和导航预留
  </div>
  <div class="entries">
  <ul>
  {% for entry in entries %}
  {% if session.logged_in %}
    <form action="{{ url_for('del_entry') }}" method=post class=del-entry>
  {% endif %}
        <li>
        <h2>{{ entry.title }}</h2>
        {{ entry.text|safe }}
        <img src="/image/{{entry.images}}" height="30%" width="30%"/>
        </li>
        
  {% if session.logged_in %}
        <input type=text name=id value="{{entry.id}}" style="display:none;">
        <input type=submit value=Delete>
    </form>
  {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  </div>
{% endblock %}
